<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerName" value="Mia Game" />
    <add key="RoundsPerRun" value="5000" />
    <add key="MinimumPlayerCount" value="2" />
    <add key="ServerPort" value="1000" />
    <add key="RegistrationTimeOut" value="10000" />
    <add key="JoinTimeOut" value="2000" />
    <add key="TurnTimeOut" value="2000" /> <!-- 300 -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
